spring:
  application:
    name: microservice-consumer-movie

server:
  port: 8001
  
  
eureka:
  client:
    service-url:
      defaultZone: http://user:password@localhost:8761/eureka  
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.cloud.client.ipAddress}:${spring.application.instance_id:${server.port}}  